.product-cnt {
  width: 100vw;
  height: 50px;
  display: flex;

  gap: 3px;
  & #cnt {
    border: 1px solid red;
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 3px;
    position: relative;
  }
  & .timer {
    border: 3px solid red;
    padding: 10px;
    position: absolute;
    right: 5px;
    top: -30px;
    border-radius: 10px;
  }
}
